$color-white: rgba(255, 255, 255, 1);
$color-white1: rgba(255, 255, 255, 0.17);
$color-black: rgba(0, 0, 0, 1);
$color-black2: rgba(34, 34, 34, 1);
$color-black3: rgba(51, 56, 99, 1);
$color-black4: rgba(51, 56, 99, 0.5);
$color-blue: rgba(76, 116, 246, 1);
$color-red: rgba(255, 89, 89, 1);
$color-light-blue: rgba(224, 238, 254, 1);
$color-gray1: rgba(243, 243, 243, 1);
$color-gray2: rgba(249, 249, 249, 1);
$color-gray3: rgba(241, 241, 241, 1);
$color-gray4: rgba(220, 220, 220, 1);
$color-text-gray: rgba(126, 126, 126, 1);
$color-text-gray2: rgba(117, 117, 117, 1);
$color-text-gray3: rgba(51, 51, 51, 1);
$color-text-gray4: rgba(145, 151, 179, 1);
$color-text-gray5: rgba(49, 49, 49, 1);
$color-text-gray6: rgba(113, 113, 113, 1);
$color-text-blue: rgba(74, 121, 247, 1);

$color-hover: $color-blue;

$bg: rgba(243, 243, 243, 1);

$border: 0.5px solid rgba(232, 232, 232, 1);

$transition: all linear 0.3s;

$pading-vertical-header: 12px;
