@import 'src/assets/scss/variables';
.buttonCalendar {
  width: 100%;
  height: 100%;
  position: relative;
  color: inherit;
  .buttonCalendar__trigger {
    width: 100%;
    height: 100%;
    padding-left: 24px;
    cursor: pointer;
    &--secondary {
      padding-left: 0;
    }
    > span {
      display: block;
      text-align: left;
      &.trigger__text {
        font-weight: 600;
        font-size: 12px;
        line-height: 14.06px;
        &--secondary {
          font-size: 10px;
          font-weight: 400;
          color: $color-text-gray6;
        }
      }
      &.trigger__placeholder {
        font-size: 13px;
        color: $color-text-gray6;
        line-height: 16.41px;
        &--secondary {
          font-size: 14px;
          margin-top: 4px;
          color: $color-black2;
        }
      }
    }
  }

  .calendarblock {
    position: absolute;
    top: 0;
    transition: $transition;
    z-index: 20;
    max-height: 0px;
    overflow: hidden;
    &.active {
      max-height: 400px;
    }
    > div {
      max-height: 0px !important;
    }
  }
}
