.recoverPass {
  display: block;
  width: fit-content;
  align-self: flex-end;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: inherit;
  margin-bottom: 36px;
}
