@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';

.myForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $color-text-gray6;
  padding-top: 15px;
  width: 350px;
  @include tablet {
    width: 100%;
  }
  @media (max-width: 768px) and (orientation: landscape) {
    gap: 10px;
  }
}
